<script>

  document.addEventListener("DOMContentLoaded",function(event) {

    function addToolbar(){

      var style = document.createElement('style');
      style.appendChild(document.createTextNode('body { margin-top:40px; }'));

      var toolbar = document.createElement("div");
      toolbar.id = "toolbar";
      toolbar.style.cssText = "font-size:14px;display:flex;align-items: center;justify-content:center;background-color:#aacb65;position: fixed;top: 0px;left: 0px;width: 100%;padding: 0.5rem;";

      var copy =  document.createElement("div");
      copy.innerText = "Copy the email source code to your clipboard, then paste into your email marketing platform."

      var button = document.createElement("button");
      button.id = "copybutton";
      button.innerText = 'Copy Source Code';
      button.style.cssText = "margin-left:16px;cursor:pointer;background-color: #FFFFFF;border: none;font-size: 14px;padding: 4px 12px;color: black;display: block;";
      button.addEventListener("click",function(){copyTextToClipboard()});

      toolbar.appendChild(style);
      toolbar.appendChild(copy);
      toolbar.appendChild(button);
      document.body.appendChild(toolbar);
    }

    function copyTextToClipboard() {
      var button = document.getElementById("copybutton");
      var toolbar = document.getElementById("toolbar");
      var cc1 = document.getElementsByClassName('c-cloudcannon-editor-overlays');
      var cc2 = document.getElementsByClassName('cms-added-content');

      console.log("CC1 Length BEFORE = ",cc1.length)
      console.log("CC2 Length BEFORE = ",cc2.length)
      if(cc1){
      const cc1_copy = cc1.slice();
        for(var i=cc1.length-1;i >= 0;i--){
          console.log('cc1 '+i,cc1[i]);
          cc1[i].remove();
        }
      }
      if(cc2){
      const cc2_copy = cc2.slice();
        for(var i=cc2.length-1;i >= 0;i--){
          console.log('cc2 '+i,cc2[i]);
          cc2[i].remove();
        }
      }
      if(toolbar)toolbar.remove();

      var allHTML = document.documentElement.outerHTML;
      allHTML = allHTML.replace(/<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi, "");
      allHTML = '<!DOCTYPE htmlPUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">' + allHTML;

      if(toolbar) document.body.appendChild(toolbar);

      console.log("CC1 Length AFTER = ",cc1_copy.length)
      console.log("CC2 Length AFTER = ",cc2_copy.length)
      if(cc1_copy){
        for(var i=cc1_copy.length-1;i >= 0;i--){
          console.log("Re-Add CC1 "+i,cc1_copy[i])
          document.body.appendChild(cc1_copy[i]);
        }
      }
      if(cc2_copy){
        for(var i=cc2_copy.length-1;i >= 0;i--){
          console.log("Re-Add cc2 "+i,cc2_copy[i])
          document.body.appendChild(cc2_copy[i]);
        }
      }

      var textArea = document.createElement("textarea");
      textArea.value = allHTML;
      document.body.appendChild(textArea);
      textArea.select();
      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        console.log('Copying text command was ' + msg);
        if(successful){
          button.innerText = 'Copied!';
          setTimeout(() => {
            button.innerText = 'Copy Source Code';
          }, "3000")
        } else {
          button.innerText = 'Error';
        }
      } catch (err) {
        button.innerText = 'Unable to copy';
      }
      document.body.removeChild(textArea);
    }
    setTimeout(() => {
      //if(document.body.classList.contains('cms-editor-active')){
        console.log("We're in the editor. Add the Toolbar!");
        addToolbar();
      //}
    }, "1000");
  })



// CLOUDCANNON LIVE EDITING
// https://cloudcannon.com/documentation/articles/using-live-editing-with-vanilla-js///
  if (!window.CloudCannon) {
    document.addEventListener('cloudcannon:load', function (e) {
      onLiveEditorLoad(e.detail.CloudCannon);
    });
  } else {
    onLiveEditorLoad(window.CloudCannon);
  }

  function onLiveEditorLoad(CloudCannon) {
    CloudCannon.enableEvents();
  }

  document.addEventListener('cloudcannon:update', async function (e) {
    useNewPageProps(e.detail.CloudCannon);
  });

  async function useNewPageProps(CloudCannon) {
    const latestValue = await CloudCannon.value();
    console.log("LATEST",latestValue)
    // for (const key in latestValue) {
    //   console.log(key,latestValue[key]);
    //   CloudCannon.set(key, latestValue[key]);
    // }

  }

</script>