<script>
  document.addEventListener("DOMContentLoaded",function(event) {
    setTimeout(() => {
      if(document.body.classList.contains('cms-editor-active')){



        var copy_btn_js = document.createElement('script');
        copy_btn_js.setAttribute('src','/js/add-email-copy-button.js');
        document.head.appendChild(copy_btn_js);

      }
    }, "500");

  })

  var live_preview_js = document.createElement('script');
  live_preview_js.setAttribute('src','/js/live-data-previews.js');
  document.head.appendChild(live_preview_js);
</script>